<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.thymeleaf.org/spring-data"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{master.html}"
>
<head>
    <meta charset="UTF-8">
    <title>Nuevo Evento</title>


</head>
<body>
<div layout:fragment="content">
    <div class="container mt-3">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6">
                <h1>Nuevo Evento</h1>

                <form th:action="@{''}" method="post" th:object="${curso}" class="mt-2" enctype="multipart/form-data">
                    <div class="mb-2">




                    </div>
                    <div class="mb-2">
                        <label for="nombre">Nombre</label>
                        <input type="text" id="nombre" th:field="*{nombre}" class="form-control" th:errorclass="is-invalid">

                        <div class="invalid-feedback"
                             th:errors="*{nombre}"
                             th:if="${#fields.hasErrors('nombre')}"
                        >
                        </div>

                    </div>

                    <div class="mb-2">
                        <label for="descripcion">Descripción</label>
                        <textarea name="descripcion" id="descripcion" cols="30" rows="5"
                                  th:field="*{descripcion}" class="form-control" th:errorclass="is-invalid"
                        ></textarea>
                        <div class="invalid-feedback"
                             th:errors="*{descripcion}"
                             th:if="${#fields.hasErrors('descripcion')}"
                        >
                        </div>
                    </div>

                    <div class="mb-2">
                        <label for="capacidad">Capacidad</label>
                        <input type="number" id="capacidad" th:field="*{capacidad}" class="form-control" th:errorclass="is-invalid">

                        <div class="invalid-feedback"
                             th:errors="*{capacidad}"
                             th:if="${#fields.hasErrors('capacidad')}"
                        >
                        </div>

                    </div>

                    <div class="mb-2">
                        <label for="fechaevento">Fecha</label>
                        <input type="date" id="fechaevento" th:field="*{fechaevento}" class="form-control" th:errorclass="is-invalid">


                        <div class="invalid-feedback"
                             th:errors="*{fechaevento}"
                             th:if="${#fields.hasErrors('fechaevento')}"
                        >
                        </div>

                    </div>

                    <div class="mb-2">
                        <label for="horaevento">Hora del Evento</label>
                        <input type="time" id="horaevento" th:field="*{horaevento}" class="form-control" th:errorclass="is-invalid">

                        <div class="invalid-feedback"
                             th:errors="*{horaevento}"
                             th:if="${#fields.hasErrors('horaevento')}"
                        ></div>
                    </div>




                    <div class="mb-2">
                        <label for="precio">Precio</label>
                        <input type="number" id="precio" th:field="*{precio}" class="form-control" th:errorclass="is-invalid">

                        <div class="invalid-feedback"
                             th:errors="*{precio}"
                             th:if="${#fields.hasErrors('precio')}"
                        >
                        </div>

                    </div>






                    <div class="mb-2">
                        <label for="imagen">Imagen</label>
                        <input type="file" id="imagen"
                               accept="image/*"
                               th:field="*{imagen}"
                               class="form-control"
                               th:errorclass="is-invalid">

                        <div class="invalid-feedback"
                             th:errors="*{imagen}"
                             th:if="${#fields.hasErrors('imagen')}"
                        >
                        </div>

                    </div>

                    <div class="text-end mt-3">
                        <button class="btn btn-primary">Guardar</button>
                        <a href="/admin/cursos" class="btn btn-light">Cancelar</a>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>